body{
 background-color: #000000;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
 display: inline;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
display: inline;
  font-size:20px; font-family:raleway;
}

ul li:hover{
  color:orange;
  
}
